{{ define "main_site" }}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Заголовок</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="shortcut icon" href="/static/css/home_96px.png" type="image/png">
    <style>
        body {
            background-color: #333;
            color: #fff;
            margin: 15px;
        }
    </style>
</head>
<body>
    <h1>Добро пожаловать <b>
        {{ range . }}
        {{ .Name }}
        {{ end }} </b></h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit dolor 
       dicta cumque temporibus, incidunt architecto similique possimus libero 
       alias illo nemo sed consectetur fugit quibusdam vero autem quas molestiae omnis.</p>

{{ template "foot" }}

{{ end }}